<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../static/css/normalize.css"  th:href="@{/css/normalize.css}" />
<link rel="stylesheet" href="../../static/css/skeleton.css"  th:href="@{/css/skeleton.css}" />
</head>
<body>
  <div class="container">

    <div class="row" style="margin-top: 10%">
      <h4>ログイン</h4>
      <form id="login_form" method="post" th:action="@{'/login'}">
          <div class="form-group">
            <input type="text" class="form-control" id="login_id" name="login_id" placeholder=" ID"
              autofocus="autofocus" required="required" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="login_password" name="login_password" placeholder="パスワード" required="required" />
          </div>
          <div class="form-group">
            <input id="login_button" type="submit" value="ログイン" />
          </div>
      </form>

    </div>

    <div class="row" style="margin-top: 5%"></div>

  </div>
</body>
</html>