<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>ぶろぐ</title>
<link rel="stylesheet" href="../../static/dist/siimple.css" th:href="@{/dist/siimple.css}" />
</head>
<body>
<div class="siimple-h4">管理メニュー</div>
<ul>
<li class="siimple-btn siimple-btn--grey">
  <a href="/mn/edit">記事を書く</a>
 </li>
<li class="siimple-btn siimple-btn--grey">
  <a href="/mn/entries">記事の管理</a>
 </li>
<li class="siimple-btn siimple-btn--grey">
  <a href="/mn/categories">カテゴリー</a>
 </li>
<li class="siimple-btn siimple-btn--grey">
  <a href="/mn/account">アカウント設定</a>
 </li>
</ul>
</body>
</html>