<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}" />
<link rel="stylesheet" href="../../static/css/skeleton.css" th:href="@{/css/skeleton.css}" />
</head>
<body>
<div class="container">

  <div class="row" style="margin-top: 10%" >
  </div>

  <div class="row">

    <div class="two columns" th:replace="common/layout::menu" >
      <ul>
        <li><a href="/mn/edit">記事を書く</a></li>
        <li><a href="/mn/entries">記事の管理</a></li>
        <li><a href="/mn/categories">カテゴリ</a></li>
        <li><a href="/mn/account">アカウント</a></li>
      </ul>
    </div>

    <div class="ten columns" >
      <h4>TOP</h4>
    </div>
  </div>

  <div class="row" style="margin-top: 5%">
  </div>

</div>
</body>
</html>