<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<link rel="stylesheet" href="../../static/dist/siimple.css" th:href="@{/dist/siimple.css}" />
</head>
<body>
<div class="siimple-h4">編集</div>
<form role="form" action="/mn/edit" th:action="@{/mn/edit}" th:object="${entryForm}" method="post">

<input type="hidden" name="id" th:field="*{id}" />
<div>
<input id="title" name="title" type="text" placeholder="タイトル" th:field="*{title}"  />
</div>
<div>
<textarea id="body" name="body" rows="" cols="" placeholder="本文" th:field="*{body}"></textarea>
</div>
<div>
<input type="text" id="category" name="category" placeholder="カテゴリー" th:field="*{category}" />
</div>

<div class="draft">
  <label>
    <input type="checkbox" name="draft" value="on" th:field="*{draft}" />下書き</label>
</div>

<input type="submit" name="edit" value="保存する" />
</form>
</body>
</html>