<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../../static/css/normalize.css"  th:href="@{/css/normalize.css}" />
<link rel="stylesheet" href="../../../static/css/skeleton.css"  th:href="@{/css/skeleton.css}" />
</head>
<body>
<div class="container">

  <div class="row" style="margin-top: 10%">
  </div>

  <div class="row">

    <div class="two columns" th:replace="common/layout::menu" >
      <ul>
        <li><a href="#">記事を書く</a></li>
        <li><a href="#">記事の管理</a></li>
        <li><a href="#">カテゴリ</a></li>
        <li><a href="#">アカウント</a></li>
      </ul>
    </div>

    <div class="ten columns" >
      <form role="form" action="#" method="post" enctype="multipart/form-data" th:action="@{/mn/edit}" th:object="${entryForm}" >

            <h4>編集</h4>
            <input type="text" class="u-full-width"  id="title" name="title" placeholder="タイトル" th:field="*{title}" />

            <textarea class="u-full-width"  id="body" name="body"  placeholder="本文" th:field="*{body}"  ></textarea>

            <input type="text" id="category" name="category" placeholder="カテゴリー" th:field="*{category}" />

            <input type="file" name="file" />

            <label>
              <input type="checkbox" name="draft" value="on" />
              <span class="label-body">下書き</span>
            </label>
            <input type="submit" class="button-primary" name="edit"  value="保存する" />
        <input type="hidden" name="id" th:field="*{id}" />
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 5%">
  </div>

</div>
</body>
</html>