<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<link rel="stylesheet" href="../../static/dist/siimple.css" th:href="@{/dist/siimple.css}" />
</head>
<body>
<div class="siimple-h4">記事一覧</div>
<form role="form" action="/mn/edit" th:action="@{/mn/edit}" th:object="${entryForm}" method="post">

<table class="tbtest">
<tr>
  <th>タイトル</th>
  <th>登録時間</th>
  <th>最終更新時間</th>
  <th></th>
  <th></th>
</tr>

<tr th:each="entry : ${entries}">
  <td th:text="${entry.title}" ></td>
  <td th:text="${entry.insertTime}"></td>
  <td th:text="${entry.updateTime}"></td>
  <td>
  <div class="siimple-btn siimple-btn--grey">
    <a th:href="@{'/mn/edit?entry=' + ${entry.id}}">編集</a>
   </div>
  </td>
  <td>
  <div class="siimple-btn siimple-btn--grey">
    <a th:href="@{'/mn/delete?entry=' + ${entry.id}}">削除</a>
   </div>
  </td>
</tr>
</table>

</form>
</body>
</html>