<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}" />
<link rel="stylesheet" href="../../static/css/skeleton.css"  th:href="@{/css/skeleton.css}" />
</head>
<body>
<div class="container">

<div class="rows" style="margin-top: 10%">

<header>
<h5><a href="/">top</a></h5>
</header>

<h4 th:text="${entry.title}">ブログタイトル</h4>

<div class="entry_date">
    <p>
        <span th:text="yyyymmdd">2017年mm月dd日</span>
    </p>
</div>
</div>

<div class="row">
<p class="u-full-width" th:text="${entry.body}">
ブログ本文aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
saaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p>
<p>
    <span><a href="/category/%E6%97%A5%E8%A8%98" th:text="${entry.category}">#カテゴリ</a></span>
</p>
</div>

<div class="row">
<div class="six columns">
<a href="/1260" class="">ニュートラル &raquo;</a>
</div>
<div class="six columns" align="right">
<a href="/1260">&laquo; ニュートラル</a>
</div>
</div >
<div>
<p ></p>
</div>


</div>
</body>
</html>