<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>blog</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}" />
<link rel="stylesheet" href="../../static/css/skeleton.css"  th:href="@{/css/skeleton.css}" />
<link rel="stylesheet" href="../../../static/css/style.css"  th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">

<div class="rows" style="margin-top: 10%">

<header>
<h5><a href="/">top</a></h5>
</header>

<h4 th:text="${entry.title}" style="border-bottom: 1px solid hsl(216, 14%, 93%)">ブログタイトル</h4>

<div class="entry_date">
    <p>
        <span th:text="yyyymmdd">2017年mm月dd日</span>
    </p>
</div>
</div>
<br/>
<div class="row l_bottom">
<p class="u-full-width" th:text="${entry.body}">
ブログ本文aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
saaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</p>

<span><a href="#" th:href="@{'/category/' + ${entry.category}}"  th:text="${'#' + entry.category}" th:if="${entry.category != null}" >#カテゴリ</a></span>

</div>

<div class="row">
<a href="#" th:href="@{'/entry/' + ${prev}}" th:if="${prev != null}">&laquo; 前へ</a>&nbsp;
<a href="#" style="text-align:right" th:href="@{'/entry/' + ${next}}" th:if="${next != null}" >次へ&raquo;</a>&nbsp;
</div >
<div>
<p ></p>
</div>


</div>
</body>
</html>